@import "tailwindcss";

:root {
  --background: #07111f;
  --foreground: #ffffff;
}

html {
  background: #07111f;
  min-height: 100%;
}

body {
  background: #07111f;
  color: var(--foreground);
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}